:root {
  --main-bg-color: #fff; 
  --main-text-color: #23192B;
  --lilac: #C6A9C1;
  --corail: #E3786A;
  --ochre: #F1BA54;
  --offwhite: #FCEDCF;
  --vertForet: #013539;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "C1 C2 C3 C4 C5 C6"
      "C7 C8 C9 C10 C11 C12"
      "C13 C14 C15 C16 C17 C18"
      "C19 C20 C21 C22 C23 C24";
  }
  
  .C1 { grid-area: C1; }
  
  .C2 { grid-area: C2; }
  
  .C3 { grid-area: C3; }
  
  .C4 { grid-area: C4; }
  
  .C5 { grid-area: C5; }
  
  .C6 { grid-area: C6; }
  
  .C7 { grid-area: C7; }
  
  .C8 { grid-area: C8; }
  
  .C9 { grid-area: C9; }
  
  .C10 { grid-area: C10; }
  
  .C11 { grid-area: C11; }
  
  .C12 { grid-area: C12; }
  
  .C13 { grid-area: C13; }
  
  .C14 { grid-area: C14; }
  
  .C15 { grid-area: C15; }
  
  .C16 { grid-area: C16; }
  
  .C17 { grid-area: C17; }
  
  .C18 { grid-area: C18; }
  
  .C19 { grid-area: C19; }
  
  .C20 { grid-area: C20; }
  
  .C21 { grid-area: C21; }
  
  .C22 { grid-area: C22; }
  
  .C23 { grid-area: C23; }
  
  .C24 { grid-area: C24; }
  